{% load staticfiles %}
<!DOCTYPE HTML>
<html lang="pt-BR">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="{% static 'css/testes.css' %}">
        <title>Cadastro</title>
        <link rel="stylesheet" href="{% static 'bootstrap-4.1.1-dist/css/bootstrap.css' %}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
        <script src="{% static 'bootstrap-4.1.1-dist/js/bootstrap.min.js' %}"></script>
    </head>
    <body>
        <header class="logo">
            <h2>Estudos.Ninja</h2>
        </header>
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{% if message.tags %}{{ message.tags }}{% endif %}" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4>
                        <i class="fa fa-warning"></i>
                        Aviso:
                    </h4>
                    <p>{{ message }}</p>

                </div>
            {% endfor %}
        {% endif %}
        <div class="bg-contact2" style="background-image: url('/static/imagens/bg-01.jpg');">
            <div class="container-contact2">
                <div class="header_cadastro">
                    <h1 style="color: white;">Agora é só preencher os campos para se cadastrar!</h1>
                </div>

                <main id="cadastro_teste" class="jumbotron jumbotron">
                    <div >
                        <div><h1 style="text-decoration: underline" class="cadastro">Cadastre-se</h1></div>
                        <hr class="my-4">

                        <form id="form" method="POST" action="/turmas/">
                            {% csrf_token %}
                            <div id="inputs1" class="inputs"><label class="labels" for="nome">Nome</label>
                                <input class="input" id="nome" type="text" placeholder="Nome" autofocus size="30" required {{ form.first_name }} </div>
    
                                <div id="inputs2" class="inputs"><label class="labels" for="nome">Sobrenome</label>
                                <input class="input" id="sobrenome" name="sobrenome" type="text" placeholder="Sobrenome" size="30" required {{ form.last_name }} </div>
                            
                                <div id="inputs3" class="inputs"><label class="labels" for="email">Email</label>
                                <input class="input" id="email" type="email" placeholder="exemplo@exemplo.com" size="30" required autocomplete="email" {{ form.username }} </div>
    
                                <div id="inputs4" class="inputs"><label class="labels" for="senha1" >Senha </label>
                                <input class="input" id="password" type="password" placeholder="Senha" size="30" required name="senha1" {{ form.password1 }} </div>
    
                                <div id="inputs5" class="inputs"><label class="labels" class="confirmar_cadastro1" for="confirma">Confirmar Senha</label>
    
                                <input class="input" id="confirm_password" type="password" placeholder="Confirmar Senha" size="30" required name="confirma" onclick="validarSenha()"  {{ form.password2 }} <span class="validity"> </span></div>
    
                                <div class="inputs"><input class="inp1-" id="botao_cadastro1" type="submit" name="enviar" value="Cadastrar"></div>
                            <!--{% csrf_token %}
                            <div id="inputs1" class="inputs"><label class="labels" for="nome">Nome</label>
                            {{ form.first_name }}</div>

                            <div id="inputs2" class="inputs"><label class="labels" for="nome">Sobrenome</label>
                            {{ form.last_name }}</div>
                        
                            <div id="inputs3" class="inputs"><label class="labels" for="email">Email</label>
                            {{ form.username }}</div>

                            <div id="inputs4" class="inputs"><label class="labels" for="senha1" >Senha </label>
                            {{ form.password1 }}</div>

                            <div id="inputs5" class="inputs"><label class="labels" class="confirmar_cadastro1" for="confirma">Confirmar Senha</label>

                            {{ form.password2 }}<span class="validity"></span></div>

                            <div class="inputs"><input class="inp1-" id="botao_cadastro1" type="submit" name="enviar" value="Cadastrar"></div>-->
                        
                        </form>
                    </div>
                </main>       
            </div>
        </div>       
        

         <footer>
            <div class="jumbotron jumbotron">&copy; Copyright<strong> Estudos.Ninja 2018.</strong> Todos os direitos reservados à <a href="https://mambee-ifpi.firebaseapp.com/"> Mambee - Fábrica e Escola de Software.</a></div>
        </footer>
        
    </body>
</html> 
