{% load staticfiles %}
<!DOCTYPE HTML>
<html lang="pt-BR">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="{% static 'css/testes.css' %}">
        <title>Cadastro</title>
        <link rel="stylesheet" href="{% static 'bootstrap-4.1.1-dist/css/bootstrap.css' %}">
        
    </head>
    <body>
        <div class="bg-contact2" style="background-image: url('/static/imagens/bg-01.jpg');">
            <div class="container-contact2">
                <header class="header_cadastro">
                    <h1 style="color: white;">Agora é só preencher os campos para se cadastrar!</h1>
                </header>

                <main>
                    <div id="cadastro">
                        <div><h1 class="cadastro">Cadastre-se</h1></div>
                        <hr class="my-4">

                        <form method="POST">{% csrf_token %}
                            <div class="nome_cadastro">               
                                <div id="nome_cadastro"><label for="nome">Nome </label>
                                {{ form.first_name }}</div>
                                <div id="sobrenome_cadastro"><label id="sobrenome1" for="sobrenome">Sobrenome</label>
                                {{ form.last_name }}</div>
                            </sdiv>
                            <div class="email_cadastro" >
                                <div id="email_cadastro"><label for="email" >Email</label>
                                {{ form.email }}</div>
                                <div id="senha_cadastro"><label id="senha_cadastro1" for="senha1" >Senha</label>
                                {{ form.password1 }}</div>
                                
                            </div>
                            
                            <div id="botoes" >
                            <div class="botao_cadastro">
                                
                                <input class="inp1-" id="botao_cadastro1" type="submit" name="enviar" value="Cadastrar">
                            </div>
                                <label class="confirmar_cadastro1" for="confirma">Confirmar Senha</label>
                                {{ form.password2 }}
                            </div>
                        </form>
                    </div>
                </main>       
            </div>
        </div>       
        

        <footer>
            <div class="jumbotron jumbotron " style="background: rgba(41,44,51,0.6);">Estudos.Ninja &copy; Copyright 2018. Todos os direitos reservados à Estudos.Ninja Corporation</div>
        </footer>

    </body>
</html> 